<!DOCTYPE html>
<html>
<head>
  <title>Layouts</title>
  <%= stylesheet_link_tag    "news", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "news", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<b>News layout </b><br>

<%= yield %>

</body>
</html>
